/*
Colors Used:
Primary Color (Marigold): #f6be35;
Secondary Color (Coral): #ef615f;
Border of button contact color (Dark Coral): #af3836;
Ecru: #eee8e0
Footer Background color (smoke blue): #8eb2bc
*/
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

/* Header */
.logo {
  max-width: 200px;
  text-align: center;
  padding-top: 25px;
}
header {
  position: fixed;
  width: 100%;
  background-color: #eee8e0; 
  padding: 0;
  -webkit-box-shadow: 3px 3px 1px 0px rgba(169, 165, 161, 0.75);
  -moz-box-shadow:    3px 3px 1px 0px rgba(169, 165, 161, 0.75);
  box-shadow:         3px 3px 1px 0px rgba(169, 165, 161, 0.75);
}
main {
  padding-top: 99px;
}
#hero {
  background-color: #eee8e0;
  text-align: center;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
#hero h1 {
  text-align: center;
  margin: 22px;
  padding-top: 10px;
}
#hero span {
  display: block;
}
.container {
  padding: 0 15px;
}

/* Navigation */
nav {
  display: inline-block;
  width: 100%;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
  list-style-type: none;
  padding: 0;
}
nav > ul > li > a {
  display: inline-block;
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 600;
  color: black;
}

.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle,
.navtoggle.responsive {
  position: relative;
}
nav > ul > li > a:hover,
nav > ul > li > a:active
{
  color: #ef615f; 
}
/* Hamburger menu */
.navtoggle li .icon {
  position: absolute;
  right: 0;
  padding-right: 0;
  top: 2px;
  font-size: 20px;
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(134, 134, 134, 0.192);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}


/* Body */
body {
  background-color: white;
  font-family: "Nunito", sans-serif;
  font-size: 18px; 
  font-weight: 300;
  line-height: 1.6;
  color:black
}  

.row {
  margin: 25px 0;
}
#work.row {
  margin: 25px 15px;
  padding-bottom: 25px; 
  border-bottom: 1px solid #ef615e
}
h1,
h2,
h3,
h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.25em;
  font-weight: 800
}
h2 {
  font-size: 1.75em;
  font-weight: 700;
}
h3 {
  font-size: 1.5em;
  font-weight: 600;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

/* Images */
img {
  max-width: 100%;
} 

/* Buttons */
.button {
  display: inline-block;
  background-color: #f3af38;
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  padding: 12px;
  border-radius: 3px;
  border-top: 2px solid #cb912a;
  transition: 0.2s opacity;
}
.button:active,
.button:hover {
  opacity: 0.8;
  text-decoration: none;
}
.button.contact {
  display: inline-block;
  background-color: #eee8e0;
  color: #ef615f;
  text-transform: uppercase;
  font-weight: 600;
  border: 2px solid #ef615f;
  margin-left: 6px auto;
}
.button.contact:active,
.button.contact:hover {
  background-color: #ef615f;
  color: white;
  font-weight: 600;
}



/* Footer Styling */ 
#footer h2 {
  text-align: center;
  margin: 15px;
  padding: 0.67 0;
}
footer p {
  margin-bottom: 10px;
}
.copyright {
  padding-bottom: 10px;
}
/* Contact */ 
#contact {
  background-color: #8eb2bc;
  padding-top: 16px;
  margin-top: 48px;
}
#contact h2 {
  text-align: center; 
}
#contact p {
  text-align: center;
}

/* Links */
a {
  color: #ef615f;
  text-decoration: none;
}
a:hover,
a:focus {
  color: white;
  text-decoration: underline;
}

a:active {
  color: #ef615f;
  text-decoration: none; 
}


/* Social */ 
.social {
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 15px;
}
.center {
  text-align: center;
}
.section {
  text-align: center;
  padding-top: 20px;
}
/* Project styling */ 
#helloworld {
  background-color:#e9f3f0;
  text-align: center;
}
#helloworld h1 {
  text-align: center;
  margin: 22px;
  padding: 0.67 0;
}
#helloworld h2 {
  text-align: center;
  margin: 22px;
  padding: 0.67 0;
}
#helloworld p {
  text-align: center;
}

#work h2 {
  margin-top: 20px;
  text-align: center;
}

.headshot {
  width: 100%;
  float: left;
  padding-left: 0 px;
}

[class*="col-"] {
  float: left;
  padding-left: 10px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* ==============================
Berlin Illustration Animation Example
================================= */
.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}
@keyframes color-change {
  from {
    fill: #edc655;
  }
  to {
    fill: #f76414;
  }
}
.sun {
  animation: 4s color-change infinite alternate linear;
}
@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 641px) {

header {
  text-align: unset;
  padding: 20px 0 13px;
}

main {
  padding-top: 105px;
}
/* Navigation */
nav {
  width: auto;
  float: right;
  margin-top: 4px;
}
nav > ul {
  margin: 1em, 0;
}
nav > ul > li {
  display: inline-block;
  position: relative;
}

.navtoggle li:not(:last-child) {
  display: inline-block;
}
.navtoggle li:last-child {
  display: none;
}

main {
  padding-top: 99px;
}
.col-md-6 {
  width: 50%;
}

[class*="col-"] {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.logo {
  margin-top: 10px;
  min-width: 300px;
}
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

.col-lg-4 {
  width: 33.33%;
}
.col-lg-5 {
  width: 41.66%;
}
.col-lg-7 {
  width: 58.33%;
}
.col-lg-8 {
  width: 66.66%;
}
[class*="col-"] {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

}


