/*
Colors Used:
Primary Color (Yellow): #f3af38;
Secondary Color (Coral): #ef615f;
Hover (Dusty Blue): #167796; 
Body Background color (cloud): #f5f1ee;
Header Background color (light grey): #d9d9d9
*/

/* Layout Styling */
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    background-color: #f5f1ee;
    font-family: "Nunito", sans-serif;
    font-size: 18px; 
    font-weight: 300;
    line-height: 1.6;
    color:black
}  
h1,
h2,
h3,
h4 {
    line-height: 1.4;
}
h1 {
    font-size: 2.25em;
    font-weight: 800
}
h2 {
    font-size: 1.75em;
    font-weight: 700;
}
h3 {
    font-size: 1.5em;
    font-weight: 600;
}
h4 {
    font-size: 1.35em;
    font-weight: 400;
}

/* Images */
img {
    width: 100%;
  } 

/* Links */
a {
    color: #ef615f;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #167796;
    text-decoration: underline;
}

a:active {
    color: #b73f3d;
    text-decoration: none; 
}

/* Buttons */
.button {
    display: inline-block;
    background-color: #f3af38;
    color: black;
    text-transform: uppercase;
    font-weight: 400;
    padding: 12px;
    border-radius: 3px;
    border-top: 2px solid #cb912a;
    transition: 0.2s opacity;
}
.button:active,
.button:hover {
    opacity: 0.8;
    text-decoration: none;
}

.button.contact {
    background-color: transparent;
    color: #ef615e;
    text-transform: uppercase;
    border: 2px solid #ef615e;
    margin-left: 24px auto;
    width: 100px;
}
.button.contact:hover {
    background-color: #ef615e;
    color: white;
}

/* Layout Styling */

/* Header */
header {
    background-color:  #d9d9d9; 
    position: fixed;
    width: 100%;
    padding: 10px 0;
}
.container {
    padding: 0 15px;
}
.row {
    margin: 25px 0;
}
#work.row {
    margin: 25px 15px;
    padding-bottom: 25px; 
    border-bottom: 1px solid #ef615e
}
.logo {
    max-width:250px;
    margin-top: 8px;
}
nav {
    display: inline-block;
    width: 100%;
}
nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav > ul > li {
    display: inline-block;
}

nav > ul > li > a {
    padding: 0 12px;
    text-transform: uppercase;
    font-weight: 700;
    color:black;
    background-color: #f3af38;
    display: inline-block;
}
nav > ul > li > a:active {
    color: #ef615f;
}
/* Main Styling */ 
main {
    padding-top: 120px;
}

/* Hero Styling */  
#hero {
    background-color: #f5f1ee;
    text-align: center;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}
#hero h1 {
    text-align: center;
    margin: 0;
    padding: 0.67 0;
}
#hero span {
    display: block;
  }

/* Footer Styling */ 
#contact {
    background-color: #ef615f;
    padding-top: 16px;
    margin-top: 48px;
  }
#contact h2 {
    text-align: center; 
}
#contact p {
    text-align: center;
}
#work h2 {
    text-align: center;
}
footer p {
    margin-bottom: 10px;
.linkedin {
    width: 50%;
    float: right;
    text-align: left;
    padding-left: 10px;
}
.behance {
    width: 50%;
    float: right;
    text-align: left;
    padding-left: 10px;
}
.social-icon {
    width: 24px;
    height: 24px;
    display: block;
    margin: 14px 8px 12px 0;
    color: black;
}